@media (max-width:1110px) {
    .firstbuttons{
        display: none;}

        header .nav ul {
            justify-content: end;}
            
            .header-container{
                padding: 30px 50px 30px 50px;}

                    .trusted-content{
                        width: 630px;}

                    .trusted-content h1{
                        padding-bottom:5px;
                        font-size: 1.4em;
                                 }
                       .trusted-content p{
                        font-size: 1em;
                        line-height: 2;
                            }
                 .trustedfirms{
                    padding-top: 30px;
                    gap: 30px;
                 }
                 .trustedfirms img{
                    width:170px;
                 }
                 .whyvalutico-container{
                    padding-bottom: 40px;
                    padding-top: 40px;
                
                }
                
                
                    .whyvalutico-content h2{
                        padding-bottom:10px;
                        font-size: 2em;
                        line-height: 1.5;}
                
                .qualities{
                     gap: 50px;
                }
                .list{
                    width: 200px;
                }
                .list h2{
                    font-size: 1em;
                }
                .list p{
                    font-size: 0.82em;

                } 
}
 @media (max-width:800px) {
    header .nav ul { display: none;}
    .nav-hamburger{
        display: block;
    }
                #fa-open{
                    font-size: 2em;
                    display: block;
                    
                }
                .none li{
                    display: inline-block;
                }
                .nav-mobile{
                    display: none;
                    
        background-color: #284c54;
        width: 100%;
        height: 65vh;
        position: absolute;
        top: 110px;
        left: 0;
                }


                .nav-mobile ul{
                    display: flex;
                    flex-direction: column;
                    gap: 60px;
                    padding-left: 25px;
                    padding-top: 25px;
                }
                .nav-mobile ul li a{
                    color: #56b766;
                    font-size:1.8em ;
                }
    .header-container{
        padding: 30px 50px 30px 50px;}
    
   .hero-content{
        width: 600px;
       
    }
    .hero-content h1{
        font-size: 2.5em;
          }
        .hero-content p{
            font-size: 1.1em;}

            .hero-banner img {
                width: 700px;}

            
                .trusted-container{
                    width: 768px;
                }
                    

                .trusted-content{
                    width: 590px;
                    text-align: center;
                    
                }
                 
                 .trusted-content p{
                    font-size: 0.85em;
                    line-height: 1.5;
                        }
             .trustedfirms{
                width: 600px;
                gap: 30px;
                align-items: center;
             }
             .trustedfirms img{
                width:135px;
             }
             .whyvalutico-container{
                width: 100%;
                padding-bottom: 40px;
                padding-top: 40px;
            
            }
            .whyvalutico-content{
                  width:80%}
            
                
            
            .qualities{
            
               flex-direction: column;
               width:100%}
            .list{
              
                font-size: 1.2em;
                width: 90%
               
            }
            .list h2{
                padding-bottom: 10px;
            } 
            
            .accurateimage img{
                width: 400px;
                height: 470px;
               
            }
            .accurate-content{
                
                width: 600px;
                text-align: center;
                padding-bottom: 60px;
            }
            
               .accurate-content p{
                font-size: 0.85em;
               }
               .feedbackcontainer{
                width: 600px;
               }
               .accuratefeedback{
            
                display: flex;
                flex-direction: column;
                gap: 40px;
               }
               
               .accuratefeedback div{
                width: 220px;
                }
               .feedback h3{
               font-size: 1em;
                
               }
               .feedback p{
                  font-weight: 500;
                font-size: 0.7em;
                line-height: 1.5;
               }}
               /* FOR MOBILE DEVICES */
            @media (max-width: 600px) {
                header .nav ul { display: none;}
                .nav-hamburger{
                    display: block;
                }
                #fa-open{
                    font-size:2em;

                    display: block;
                    
                }
                .nav-mobile{
                    
                    display: none;
        background-color: #284c54;
        width: 100%;
        height: 65vh;
        position: absolute;
        top: 110px;
        left: 0;
                }
                .nav-mobile ul{
                    display: flex;
                    flex-direction: column;
                    gap: 60px;
                    padding-left: 25px;
                    padding-top: 25px;
                }
                .nav-mobile ul li a{
                    color: #56b766;
                    font-size:1.2em ;
                }
                .none li{
                    display: inline-block;
                }
                .hero-content{
                    width: 400px;
                   
                }
                .hero-content h1{
                    font-size: 2.2em;
                      }
                    .hero-content p{
                        font-size: 1.25em;}
                        .hero-banner img {
                            width: 370px;}

                            .hero-btn{
                                display: flex;
                                gap: 10px;
                                
                    
                            }
                          .hero-btn button{
                            padding: 15px 10px;
                            border-radius: 8px;
                            width: 168px;
                          }
                         

                            .trusted-container{
                                width: 100%;
                            }

             .trusted-content {
                        width: 95%;
                           }

                    .trusted-content h1{
                        
                        padding-bottom:5px;
                        font-size: 1.2em;
                        ;
                                 }
                       .trusted-content p{
                        
                        font-size: 1em;
                        line-height: 1.5;
                        text-align: center;
                            }
                 .trustedfirms{
                    padding-top: 30px;
                    gap: 30px;
                 }
                 .trustedfirms{
                    width: 350px;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 30px;
                    align-items: center;
                    justify-content: center;
                 }
                 .trustedfirms img{
                    width:150px;
                 }
                 .whyvalutico-container div{
                   width: 100% !important;
                
                }
                
                .whyvalutico-content{
                    width: calc(100%-100px); }
                
                    
                
                .qualities{
                   
                    flex-direction: column;
                    gap: 30px;
                }
                .list{
                    width: calc(100%-100px);
                    padding-left: 30px;
                    font-size: 1.2em;
                }
                .list h2{
                    padding-bottom: 10px;
                } 
                .accurate{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 30px;
                    width: 100%;
                }
                
                .accurateimage img{
                    width: 300px;
                    height:300px;
                   
                }
                .accurate-content{
                    
                    width: 95%;
                    
                    padding-bottom: 10px;
                }
                
                   .accurate-content p{
                    padding-bottom: 10px;
                     font-size:1em ;
                     font-weight: 500;
                     text-align: center;
                    
                   }
                   .feedbackcontainer{
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    flex: 1;
                    width: 100%;
                   }
                   .accuratefeedback{
                
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding-left: 50px;
                   }
                   .feedback{
                    width:329px;
                    
                    
                   }
                   .feedback h3{
                    padding-bottom: 5px;
                    font-size: 1em;
                    font-weight: 700;

                    
                   }
                   .feedback p{
                    font-weight: 400;
                    line-height: 1.7;
                    font-size: 0.9em;
                   }

                   .footer{
                    width: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                   }
                 .footer button {
                    padding: 12px 8px;
                            border-radius: 8px;
                            width: 168px;
                 }

                   
                   }
                  